{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
  {% endfor %}
{% endif %}

    <h2 class="text-center">Avaliações Realizadas</h2>

    <a href="{% url 'export_all_evaluations' %}" class="btn btn-primary mb-4 w-100"><i class="bi bi-download me-2"></i>Exportar Todas as Avaliações</a>

    <input type="text" id="tableFilter" class="form-control mb-3" placeholder="Filtrar Avaliações...">


    <div class="table-responsive">
        <table class="table table-striped table-hover" id="scheduleTable">
            <thead class="thead-dark">
                <tr>
                    <th class="sortable" onclick="sortTable(1)">Avaliador</th>
                    <th class="sortable" onclick="sortTable(2)">Avaliado </button></th>
                    <th class="sortable" onclick="sortTable(3)">Cliente </button></th>
                    <th class="sortable" onclick="sortTable(4)">Finalizado </button></th>
                    <th class="sortable" onclick="sortTable(4)">Semana </button></th>
                    <th class="sortable" onclick="sortTable(5)">Trabalho </button></th>


                    <th class="sortable" onclick="sortTable(6)">Ações </button></th>
                </tr>
            </thead>
            <tbody>
                {% for evaluation in evaluations %}
                <tr>
                    <td>{{ evaluation.schedule.evaluator.first_name }} {{evaluation.schedule.evaluator.last_name }}</td>
                    <td>{{evaluation.schedule.evaluatee.first_name }} {{evaluation.schedule.evaluatee.last_name }}</td>
                    <td>{{ evaluation.schedule.work.client.name }}</td>
                    <td>{{ evaluation.date_completed|date:"d/m/Y" }}</td>
                    <td>{{ evaluation.schedule.work.date_scheduled|date:"d/m/Y" }}</td>
                    <td>{{ evaluation.schedule.work.name }}</td>


                    <td>
                        <a href="{% url 'evaluation_detail' evaluation.id %}" class="btn btn-outline-info btn-sm">Detalhes</a>
                        <a href="{% url 'export_evaluation' evaluation.id %}" class="btn btn-outline-success btn-sm">Baixar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // Filtro de busca para a tabela
  document.getElementById('tableFilter').addEventListener('keyup', function() {
    var filter = this.value.toLowerCase();
    var rows = document.querySelectorAll('#scheduleTable tbody tr');
    
    rows.forEach(function(row) {
      var rowText = row.innerText.toLowerCase();
      if (rowText.includes(filter)) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    });
  });

  // Função para ordenar a tabela
  function sortTable(columnIndex) {
    var table = document.getElementById("scheduleTable");
    var rows = Array.from(table.rows).slice(1); // Ignora o cabeçalho
    var ascending = table.getAttribute("data-sort-dir") === "asc";
    
    rows.sort(function(rowA, rowB) {
      var cellA = rowA.cells[columnIndex].innerText.toLowerCase();
      var cellB = rowB.cells[columnIndex].innerText.toLowerCase();
      
      if (!isNaN(Date.parse(cellA)) && !isNaN(Date.parse(cellB))) {
        // Ordena datas
        return ascending ? new Date(cellA) - new Date(cellB) : new Date(cellB) - new Date(cellA);
      } else if (!isNaN(cellA) && !isNaN(cellB)) {
        // Ordena números
        return ascending ? cellA - cellB : cellB - cellA;
      } else {
        // Ordena strings
        return ascending ? cellA.localeCompare(cellB) : cellB.localeCompare(cellA);
      }
    });
    
    // Insere as linhas ordenadas na tabela
    rows.forEach(function(row) {
      table.tBodies[0].appendChild(row);
    });
    
    // Alterna a direção da ordenação
    table.setAttribute("data-sort-dir", ascending ? "desc" : "asc");
  }
</script>
{% endblock %}
