{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Interno{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
</head>
<body class="light-theme">
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <a href="{% url 'homepage' %}">
                    <img src="{% static 'accounts/images/img_logo.jfif' %}" 
                         alt="Logo" 
                         class="img-fluid mb-4" 
                         style="max-width: 200px; height: 80px;" />
                </a>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu1" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Avaliações</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu1">
                        <li><a href="{% url 'create_evaluation' %}">Realizar Avaliação</a></li>
                        <li><a href="{% url 'view_evaluations' %}">Consultar Avaliações</a></li>
                        <li><a href="{% url 'view_scheduled_evaluations' %}">Avaliações Agendadas</a></li>
                        {% if is_in_schedule_group %}
                            <li><a href="{% url 'schedule_evaluation' %}">Agendar Avaliação</a></li>
                        {% endif %}
                        <li><a href="{% url 'analysis' %}">Análise de Avaliações</a></li>


                    </ul>
                </li>
                {% if is_in_control_group %}
    <li class="active">
        <a href="#homeSubmenu2" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestão</a>
        <ul class="collapse list-unstyled" id="homeSubmenu2">
            <li><a href="{% url 'list_clients' %}">Clientes</a></li>
            <li><a href="{% url 'list_users' %}">Usuários</a></li>
        </ul>
    </li>
{% endif %}

                
                <li><a id="themeToggle" href="#">Theme</a></li>
                <li><a id="themeToggle" href="{% url 'logout' %}">Sair</a></li>

            </ul>
        </nav>
        <!-- Page Content -->
        <div id="content">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse">
                        <i class="bi bi-list"></i>
                    </button>                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            {% comment %} <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Service 1</a></li>
                                    <li><a class="dropdown-item" href="#">Service 2</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li> {% endcomment %}
                            <li class="nav-item"><a class="nav-link" href="#">Bem-vindo(a), {{ user.first_name }}</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                            {% block content %}
                <!-- Este bloco será substituído pelo conteúdo das outras páginas -->
                {% endblock %}
            </div> 
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sidebar = document.getElementById('sidebar');
            const sidebarCollapse = document.getElementById('sidebarCollapse');
            const themeToggle = document.getElementById('themeToggle');
            const body = document.body;
    
            // Verifica o tema salvo no localStorage
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme) {
                body.classList.remove('light-theme', 'dark-theme');
                body.classList.add(savedTheme);
            }
    
            sidebarCollapse.addEventListener('click', function() {
                sidebar.classList.toggle('active');
            });
    
            themeToggle.addEventListener('click', function() {
                body.classList.toggle('dark-theme');
                body.classList.toggle('light-theme');
    
                // Salva o tema atual no localStorage
                const currentTheme = body.classList.contains('dark-theme') ? 'dark-theme' : 'light-theme';
                localStorage.setItem('theme', currentTheme);
            });
        });
    </script>
</body>
</html>